.Dictionary section {
  background: white;
  padding: 30px;
  margin: 20px auto;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
  border-radius: 5px;
  width: 900px;
}

.Dictionary input {
  width: 100%;
  padding: 8px 8px;
  border: 1px solid #ddd;

  border-radius: 5px;
  color: rgb(90, 90, 90);
}

a {
  color: rgb(16, 28, 83);
}

.Dictionary .hint {
  font-size: 14px;
  margin-top: 5px;
}

.Dictionary h3 {
  font-size: 20px;
  font-weight: bold;
  margin: 15px 0;
}
